# Test results

## Basic Machine Parts

### stack and element manipulations:

run test stacks:

test element one: [OK] 
test element two: [OK] 
test stack empty: [OK] 
test stack one: [OK] 
test stack two: [OK] 
test stack three: [OK] 

all passed

### stack basic operation pop and add

run test stack basic operations:

test stack init add: [OK] 
test stack add first with empty stack: [OK] 
test stack add first with one element stack: [OK] 
test stack add first with two element stack: [OK] 
test stack add last with empty stack: [OK] 
test stack add last with one element stack: [OK] 
test stack add last with two element stack: [OK] 
test stack pop first with empty stack: [OK] 
test stack pop first with one element stack: [OK] 
test stack pop first with two element stack: [OK] 
test stack pop last with empty stack: [OK] 
test stack pop last with one element stack: [OK] 
test stack pop last with two element stack: [OK] 

all passed

### Stack Operations

