# Test results

## Basic Machine Parts

### stack and element manipulations:

run test stacks:

test element one: [OK] \
test element two: [OK] \
test stack empty: [OK] \
test stack one: [OK] \
test stack two: [OK] \
test stack three: [OK] 

all passed

### stack basic operation pop and add

run test stack basic operations:

test stack init add: [OK] \
test stack add first with empty stack: [OK] \
test stack add first with one element stack: [OK] \
test stack add first with two element stack: [OK] \
test stack add last with empty stack: [OK] \
test stack add last with one element stack: [OK] \
test stack add last with two element stack: [OK] \
test stack pop first with empty stack: [OK] \
test stack pop first with one element stack: [OK] \
test stack pop first with two element stack: [OK] \
test stack pop last with empty stack: [OK] \
test stack pop last with one element stack: [OK] \
test stack pop last with two element stack: [OK] 

all passed

### Stack Operations

run test stacks:

test swap with empty stack: [OK] \
test swap with one element stack: [OK] \
test swap with two element stack: [OK] \
test swap with three element stack: [OK] \
test rotate with empty stack: [OK] \
test rotate with one element stack: [OK] \
test rotate with two element stack: [OK] \
test rotate with three element stack: [OK] \
test reverse rotate with empty stack: [OK] \
test reverse rotate with one element stack: [OK] \
test reverse rotate with two element stack: [OK] \
test reverse rotate with three element stack: [OK] \
test push from empty stack: [OK] \
test push from one element stack: [OK] \
test push from two element stack: [OK] \
test push from three element stack: [OK] 

all passed

### stats manipulation

run test stacks:

test stack init empty: [OK] \
test assign by flag: [OK] \
test assign by entropy: [OK] 

all passed

### funcs manipulation

run test funcss:

test funcs init empty: [OK] 

all passed
